<style>
.center {
    text-align: center;
}
	.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
h1 {
    text-align: center;
}
p  {
    text-align: center;
	 
}
div.summary {
    width: 500px;
    margin: auto;
	padding-top: 40px;
}
.Maivvis img {
	padding-bottom: 80px;
}
.Queen img  {
	padding-bottom: 80px;
}
.zero-profile img  {
	padding-bottom: 80px;
}
.shopimage img {
    float: left;
	padding-bottom: 100px;
}
.galleryimage img {
    float: left;
	padding-bottom: 100px;
}
div.rights {
	padding-top: 100px;
    width: 400px;
    margin: auto;
}
div.contactus {
    width: 450px;
    margin: auto;
	float: right;
}
div.followus {
    width: 150px;
    margin: auto;
	float: right;
}
p.id {
	padding-top: 100px;
    width: 400px;
    margin: auto;
}

</style>

